@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap");
html,
body {
  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  cursor: default;
  --cursor-color: rgb(232, 170, 255);
}

#cursor {
  height: "40px";
  width: "40px";
  background: linear-gradient(to right, rgb(181, 255, 200), rgb(232, 170, 255));
  border-radius: 9999px;
  position: absolute;
  opacity: 0.8;
  display: none;
}

#cursor {
  display: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

div:hover ~ #cursor {
  transform: scale(0.5);
}

.profile-pic {
  background-image: url("/profile.jpeg");
  height: 20rem;
  width: 20rem;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  animation: morph 8s ease-in-out infinite;
}

.profile-wrap {
  background: linear-gradient(to right, rgb(181, 255, 200), rgb(232, 170, 255));
  animation: morph-warp 3s ease-in-out infinite;
  border-radius: 40% 50% 60% 70%/40% 60% 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
}

.about-wrap {
  background: linear-gradient(to right, rgb(181, 255, 200), rgb(232, 170, 255));
  animation: aboutmorph-warp 6s ease-in-out infinite;
  border-radius: 35% 35% 35% 35%/35% 35% 35% 35%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bubbletip {
  background-color: rgb(82 82 82);
  border-radius: 8px;
  padding: 10px 15px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: -0%;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  transform: translateX(-50%);
  color: #fff;
}

.bubbletip::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #525252 #0000 #0000 #0000;
}

.bubble:hover .bubbletip {
  top: -50%;
  visibility: visible;
  opacity: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D3D3D3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(181, 255, 200), rgb(232, 170, 255));

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(181, 255, 200), rgb(232, 170, 255));
}

.image-about-wrap{
	height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
	position: relative;
	transition: all 0.6s ease-out;
	perspective: 1000px
}
.image-about-wrap:hover{
	transition: all 0.3s linear;
}
.image-about{
	height: 100%;
  border-radius: 15px;
	position: relative;
  background-image: url("/about.jpg");
  background-size: cover;
	transition: all 0.6s ease-out;
	transform:rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
}

.hover-box{
	width: 33.333%;
	height: 33.333%;
	position: absolute;
	z-index: 1;
}

.hover-box:nth-child(1){ left: 0; top: 0; }
.hover-box:nth-child(2){ left: 33.333%; top: 0; }
.hover-box:nth-child(3){ left: 66.666%; top: 0; }
.hover-box:nth-child(4){ left: 0; top: 33.333%; }
.hover-box:nth-child(5){ left: 33.333%; top: 33.333%; }
.hover-box:nth-child(6){ left: 66.666%; top: 33.333%; }
.hover-box:nth-child(7){ left: 0; top: 66.666%; }
.hover-box:nth-child(8){ left: 33.333%; top: 66.666%; }
.hover-box:nth-child(9){ left: 66.666%; top: 66.666%; }
.hover-box:nth-child(1):hover ~ .image-about{transform:rotateX(-20deg) rotateY(20deg);}
.hover-box:nth-child(2):hover ~ .image-about{transform: rotateX(-20deg) rotateY(0deg)}
.hover-box:nth-child(3):hover ~ .image-about{transform: rotateX(-20deg) rotateY(-20deg)}
.hover-box:nth-child(4):hover ~ .image-about{transform: rotateX(0deg) rotateY(20deg)}
.hover-box:nth-child(5):hover ~ .image-about{transform: rotateX(0deg) rotateY(0deg)}
.hover-box:nth-child(6):hover ~ .image-about{transform: rotateX(0deg) rotateY(-20deg)}
.hover-box:nth-child(7):hover ~ .image-about{transform:rotateX(20deg) rotateY(20deg);}
.hover-box:nth-child(8):hover ~ .image-about{transform: rotateX(20deg) rotateY(0deg)}
.hover-box:nth-child(9):hover ~ .image-about{transform: rotateX(20deg) rotateY(-20deg)}


@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 80% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morph-warp {
  0% {
    border-radius: 70% 40% 40% 70%/60% 50% 70% 40%;
  }
  50% {
    border-radius: 40% 60% 70% 60%/50% 60% 50% 70%;
  }
  100% {
    border-radius: 70% 40% 40% 70%/60% 50% 70% 40%;
  }
}

@keyframes aboutmorph-warp {
  0% {
    border-radius: 0% 0% 0% 0%;
  }
  50% {
    border-radius: 35% 35% 35% 35%;
  }
  100% {
    border-radius: 0% 0% 0% 0%;
  }
}
